@import '../styles/theme.scss';

.container {
	display: grid;
	grid-template-columns: 1fr 480px;
	height: 100vh;

	.main {
		display: grid;
		grid-template-rows: auto 1fr auto;

		.logo {
			padding: 4rem 0;
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				width: auto;
				height: 64px;
			}
		}

		.currentScore {
			display: flex;
			flex-direction: column;
			justify-content: center;
			max-width: 800px;
			width: 100%;
			margin: 0 auto;

			.clan1,
			.clan2 {
				font-size: 2.5rem;
				text-transform: uppercase;
				text-align: center;
			}

			.clan1 {
				margin-left: -50%;
			}

			.clan2 {
				margin-right: -50%;
			}

			.score {
				font-size: 10rem;
				text-align: center;
				font-weight: bold;
			}
		}

		.players {
			width: 100%;
			display: grid;
			grid-template-columns: 1fr 1fr;
			justify-content: center;
			justify-items: center;
			align-items: center;
			padding: 4rem 0;

			.playerName {
				display: flex;
				align-items: center;
				margin-bottom: 0.25rem;

				&:last-child {
					margin-bottom: 0;
				}

				img {
					margin-right: 1rem;
				}
			}
		}
	}

	.sets {
		display: flex;
		flex-direction: column;
		align-items: center;

		.setsHeader {
			display: grid;
			width: 100%;
			grid-template-columns: 1fr 1px 1fr;
			text-align: center;
			text-transform: uppercase;
			font-size: 1rem;
			padding: 4rem 0;

			.separator {
				background-color: rgba($light, 0.32);
				width: 1px;
				height: 100%;
			}
		}
	}
}
