@import './theme.scss';

.container {
	display: flex;
	flex-direction: column;
	padding: 4rem;
	max-width: 1200px;
	margin: 0 auto;
	gap: 1rem;

	input {
		padding: 0.5rem 0.75rem;
		border: none;
		border-radius: 4px;
		margin: 0.25rem;
	}

	.clans {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
	}

	.clan,
	.scores {
		border-bottom: 1px solid rgba($light, 0.5);
		padding: 1rem 0 2rem 0;
		display: flex;
		flex-direction: column;
		gap: 1rem;

		.clanName {
			background-color: rgb(10, 10, 12);
			color: $light;
			font-size: 1.25rem;
		}
	}

	.submitBtn {
		padding: 0.5rem 1rem;
		border-radius: 4px;
		margin: 2rem 0;
		border: none;
		background-color: $accent;
		color: $light;
		font-size: 1rem;
		text-transform: uppercase;
		cursor: pointer;

		&:hover {
			background-color: rgb(10, 10, 12);
		}
	}
}
