@import './theme.scss';

* {
	padding: 0;
	margin: 0;
}

html,
body {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	color: $light;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
